### Pandas

In [2]:
import pandas as pd
import os

In [3]:
data_path = os.path.join(os.pardir, 'data', 'zippedData')

In [4]:
data_path

'..\\data\\zippedData'

In [5]:
files = os.listdir(data_path)

In [6]:
files

['bom.movie_gross.csv.gz',
 'imdb.name.basics.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.basics.csv.gz',
 'imdb.title.crew.csv.gz',
 'imdb.title.principals.csv.gz',
 'imdb.title.ratings.csv.gz',
 'rotten_tomatoes_critic_reviews.csv.gz',
 'rotten_tomatoes_movies.csv.gz',
 'tmdb.movies.csv.gz',
 'tn.movie_budgets.csv.gz']

In [7]:
# dictionaries or lists

In [9]:
data = {}
for file in files:
    import_path = os.path.join(data_path, file)
    data[file] = pd.read_csv(import_path)

In [12]:
files[3]

'imdb.title.basics.csv.gz'

In [11]:
data[files[2]]

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

### Import data

#SQL

In [16]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/movies.db')
cursor = conn.cursor()

In [18]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
tables = pd.read_sql(query, conn)

In [19]:
for table in tables.name:
    query = f'SELECT * FROM {table} LIMIT 10;'
    cursor.execute(query).fetchall()

NameError: name 'cursor' is not defined