In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import seaborn as sns

In [4]:
budget= pd.read_csv('../../data/clean/budget.csv')

In [5]:
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,net_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,3536852904,3111852904
1,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2989973445,2683973445
2,43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,2867572339,2667572339
3,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2726949682,2426949682
4,34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,2301125489,2086125489

84